<!-- <div class="admin-table" id="appointment-list">
        <h2>Appointment List</h2>
        <table>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Doctor</th>
            <th>Patient</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
          <% appointments.forEach(appointment => { %>
          <tr>
            <td><%= appointment.date %></td>
            <td><%= appointment.time %></td>
            <td><%= appointment.doctor %></td>
            <td><%= appointment.patient %></td>
            <td><%= appointment.status %></td>
            <td>
              <button>Edit</button>
              <button>Delete</button>
            </td>
          </tr>
          <% }); %>
        </table>
      </div> -->
