<!DOCTYPE html>
<html>
  <head>
    <title>Healthcare Project</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sour+Gummy:ital,wght@0,300;1,300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="login">
      <h1>Doctor APP</h1>

      <form class="login-form" id="signupForm" action="/register" method="post">
        <h2>Sign up</h2>
        <!-- user input-->
        Username:<br />
        <input
          type="text"
          name="username"
          placeholder="Username"
          required
        /><br /><br />
        Email:<br />
        <input
          type="text"
          name="email"
          id="email"
          placeholder="Email address"
          required
          onblur="emailCheck()"
        /><span id="emailError" class="error"></span
        ><span id="emailValid" class="success"></span><br /><br />
        Name:<br />
        <input type="text" name="name" placeholder="Your name" required />

        <br /><br />
        Role:<br />
        <div class="custom-select">
          <select name="role" id="roles" onchange="roleSelect(this)">
            <option value="patient">patient</option>
            <option value="doctor">doctor</option>
          </select>
        </div>
        <br />
        <div id="patient" class="hidden">
          Age:<br />
          <input type="text" name="age" placeholder="Your age" /><br /><br />
          Allergies:<br />
          <div class="multiselect">
            <div class="selectBox" onclick="showCheckboxes()">
              <select>
                <option
                  id="multiSelectDropdown"
                  style="overflow: visible; display: flex"
                >
                  Select your allergies
                </option>
              </select>
              <div class="overSelect"></div>
            </div>
            <div id="checkboxes">
              <input type="hidden" id="allergy" name="allergy" />
              <% allergies.forEach((allergy,index) => { %>
              <label for="allergy<%= index %>">
                <input
                  type="checkbox"
                  id="allergy<%= index %>"
                  value="<%= allergy %>"
                /><%= allergy %></label
              >
              <% }); %>
            </div>
          </div>
          <br /><br />
        </div>
        <div id="doctor" class="hidden">
          Specialization:<br />
          <input
            type="text"
            name="specialization"
            placeholder="Your area of specialization"
          /><br /><br />
          Experience:<br />
          <input
            type="text"
            name="experience"
            placeholder="Years of experience you have"
          /><br /><br />
        </div>

        Password:<br />
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          required
          onblur="passwordCheck()"
        /><span id="passwordError" class="error"></span
        ><span id="passwordValid" class="success"></span><br /><br />
        Re-enter Password:<br />
        <input
          type="password"
          name=""
          placeholder="Re enter Password"
          required
        /><br /><br />
        <!-- submit button -->
        <input type="submit" value="Sign up" />
      </form>
    </div>
    <script>
      var dropDown = document.getElementById("roles");
      function roleSelect(x) {
        var selectedRole = x.value;

        if (selectedRole == "patient") {
          document.getElementById("patient").style.display = "block";
          document.getElementById("doctor").style.display = "none";
        } else if (selectedRole == "doctor") {
          document.getElementById("patient").style.display = "none";
          document.getElementById("doctor").style.display = "block";
        }
      }
      var expanded = false;
      const dpBtn = document.getElementById("multiSelectDropdown");
      function showCheckboxes() {
        var checkboxes = document.getElementById("checkboxes");
        if (!expanded) {
          checkboxes.style.display = "block";
          expanded = true;
        } else {
          checkboxes.style.display = "none";
          expanded = false;
        }
      }
      const chBoxes = document.querySelectorAll(
        '.multiselect input[type="checkbox"]'
      );

      let mySelectedListItems = document.getElementsByName("allergy");

      function handleCB() {
        mySelectedListItems = [];
        let mySelectedListItemsText = "";

        chBoxes.forEach((checkbox) => {
          if (checkbox.checked) {
            mySelectedListItems.push(checkbox.value);
            mySelectedListItemsText += checkbox.value + ", ";
          }
        });

        dpBtn.innerText =
          mySelectedListItems.length > 0
            ? mySelectedListItemsText.slice(0, -2)
            : "Select";
      }

      chBoxes.forEach((checkbox) => {
        checkbox.addEventListener("change", handleCB);
      });

      function emailCheck() {
        const email = document.getElementById("email").value;
        const emailError = document.getElementById("emailError");
        const emailValid = document.getElementById("emailValid");
        emailError.textContent = "";
        const emailRegex = /^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/;
        if (!emailRegex.test(email)) {
          emailError.textContent = "Invalid email address.";
          return;
        } else {
          emailValid.textContent = "Valid email";
          return;
        }
      }

      function passwordCheck() {
        const password = document.getElementById("password").value;
        const passwordError = document.getElementById("passwordError");
        const passwordValid = document.getElementById("passwordValid");
        passwordError.innerHTML = "";
        const errors = [];
        if (password.length < 8) {
          errors.push("Password must be at least 8 characters long.");
        }
        if (!/[A-Z]/.test(password)) {
          errors.push("Password must contain at least one uppercase letter.");
        }
        if (!/[a-z]/.test(password)) {
          errors.push("Password must contain at least one lowercase letter.");
        }
        if (!/\d/.test(password)) {
          errors.push("Password must contain at least one number.");
        }
        if (!/[@$!%*?&]/.test(password)) {
          errors.push(
            "Password must contain at least one special character (e.g., @$!%*?&)."
          );
        }

        // Display password errors
        if (errors.length > 0) {
          errors.forEach((error) => {
            const li = document.createElement("li");
            li.textContent = error;
            li.classList.add("error");
            passwordError.appendChild(li);
          });
          return;
        }
        if (
          password.length >= 8 &&
          /[A-Z]/.test(password) &&
          /[a-z]/.test(password) &&
          /\d/.test(password) &&
          /[@$!%*?&]/.test(password)
        ) {
          passwordValid.innerHTML = "Valid password";
          return;
        }
      }
    </script>
  </body>
</html>
